*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color:dodgerblue;
    color: white;
    font-family: 'Outfit', sans-serif;
}

button:hover {
    background-color: darkblue;
}
.header{
    background-color: #333;
    color: white;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 20px;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #555;
}

.bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.bar a:hover {
    color:deepskyblue;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    gap: 20px;
}

.book-list-container {
    margin: 20px;
    flex: 0 0 60%; 
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    white-space: nowrap;
}

.card-details {
    display: flex;
    align-items: center;
}

.book-card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 0px 10px 10px 0px;
    margin-right: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Text Container */
.text-container {
    flex-grow: 1;
}

/* Price */
.text-container p {
    margin: 5px 10px 10px 0;
    color: #555;
    font-size: 0.9rem;
}

.table{
    padding: 0 0 0 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.table a{
    line-height:3.2;
}
.table a:hover{
    color:dodgerblue;
    cursor:pointer;
    
}
.table {
    display: grid;
    grid-template-columns: 10% 40% 25% 15% 10%;
}
.book-list-header{
    font-weight: bold;
    padding: 20px;
    background-color:cornflowerblue;
    color: #333;
}
.sort-button:hover{
    color: #ffffff;
    cursor: pointer;
    
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.tooltip-btn {
    position: relative;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color:#555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Positions the tooltip above the text */
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 12px;
}

.tooltip-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Pop up window classes */
.pop-up-window {
    display: hidden;
    justify-content: center;
    align-items: center; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    padding: 20px;
    width: 60%;
    max-width: 500px;
    max-height: 80%;
    border-radius: 15px;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-up-content h2{
    font-size: 24px;
    margin: 0;
}

form{
    display:flex;
    flex-direction: column;
    gap: 5px;
}

form input[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; 
    border-radius: 5px; 
    font-family: 'Outfit', sans-serif;
}
form input[type="number"] {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; 
    border-radius: 5px; 
    font-family: 'Outfit', sans-serif;
}

.close {
    align-self: flex-end;
    padding: 5px 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* stars style */
.stars {
    background: #fff;
    margin: 0 1rem;
}

.star {
    font-size: 5vh;
    cursor: pointer;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}  

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}